---
title: "[RubyKaigi 2018] Avoiding Cognitive Overload: Tests For Productivity and Education"
layout: layout
image: kaigi_2018.png
---

<script>
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>

<div class="background white">
  <div class="container" style="padding: 20px 0;">
    <h1 class="upcase" style="margin-top: 0"> Avoiding Cognitive Overload</br><small>Tests For Productivity and Education</small></h1>
    <h5 class="upcase">Ruby Kaigi 2018</h5>
    <br>

    <div class="flex-container">
      <div class="flex-item">
        <iframe src="https://docs.google.com/presentation/d/1T1uPY1QX9B-UacA8AuGaDbxWZu8AYnYUC2FzyZmfeag/embed?start=false&loop=false&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" width="100%" height="500" webkitallowfullscreen="true"></iframe>
      </div>

      <div class="flex-item">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/InFnu8bYi6s?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <br>
  <a href="https://github.com/jules2689/extended_bundler-errors">Extended Errors Bundler Plugin</a> | 
  <a href="http://rubykaigi.org/2018/presentations/jules2689.html">Presentation Overview</a>
</div>

<div class="container">
  <p>This presentation focused on testing, proper error messages, and JIT-based education.</p>
  <p>I included a number of examples in the presentation about these concepts, which I've also included below for your convenience.</p>

  <br/>

  <%= stylesheet_link_tag 'tabs' %>

  <input id="tab1" class="tab" type="radio" name="tabs" checked>
  <label for="tab1" class="tab">Testing LOAD_PATH is not altered</label>
    
  <input id="tab2" class="tab" type="radio" name="tabs">
  <label for="tab2" class="tab">Make sure all task references are valid</label>

  <input id="tab3" class="tab" type="radio" name="tabs">
  <label for="tab3" class="tab">Make sure gems aren't added back</label>

  <input id="tab4" class="tab" type="radio" name="tabs">
  <label for="tab4" class="tab">Git-based Gem ban</label>

  <section id="content1" class="tab"><%= partial 'kaigi/2018/load_path' %></section>
  <section id="content2" class="tab"><%= partial 'kaigi/2018/invalid_maintenance' %></section>
  <section id="content3" class="tab"><%= partial 'kaigi/2018/removed_gems' %></section>
  <section id="content4" class="tab"><%= partial 'kaigi/2018/git_gem_shitlist' %></section>
</div>

<hr>

<div class="text-center container">
  <%= image_tag "kaigi_2018_header.png", height: "100" %>
</div>
