<!doctype html>
<html>
  <head>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="pqJxoIW3eeboexvdZD2vubiP2i4YObofseM91zLGIkTKu9NL+aTw2CyQO00aCcEjn7neRpn4hYl1cImBY1SSfA==">
    <meta name="google-site-verification" content="thKevbVWFUwiJbi_nQJRaQc4-ZUN_Mr6YJlFt8Nv_-I">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield_content :head %>

    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <!-- presentations columns -->
    <%= stylesheet_link_tag "presentations" %>

    <!-- Highlighting -->
    <%= stylesheet_link_tag "highlight" %>
    <%= javascript_include_tag "highlight" %>

    <!-- Gravatar icon -->
    <link rel="shortcut icon" type="image/png" href="https://www.gravatar.com/avatar/6e01dd682c021a600a943b0a539ed6a2default=&amp;rating=&amp;size=16">

    <!-- Font Awesome -->
    <%= stylesheet_link_tag "fontawesome" %>
  </head>
  <body class="clearfix">
    <%= partial 'layouts/nav' if current_page.url != "/" %>
    <%= yield %>
  </body>
</html>

