<a href="<%= link %>" class="card" <%= 'target="_blank" rel="noopener"' if link.to_s.start_with?('http') %>>
  <img class="card-image"
    <% if defined?(image_attributes) %>style="<%= image_attributes %>"<% end %>
    src="<%= image.to_s.start_with?('http') ? image : image_path(image.to_s.split('/').last) %>"
    <% if defined?(image_title) %>
      alt="<%= image_title %>"
      title="<%= image_title %>"
    <% else %>
      alt="<%= title %>"
      title="<%= title %>"
    <% end %>
  />
  <div class="card-body">
    <p class="card-meta"><%= type %> <span>• <%= year %></span></p>
    <h3 class="card-title"><%= title %></h3>
    <% if defined?(description) %><p class="card-desc"><%= description %></p><% end %>
  </div>
</a>
