<a href="<%= link %>" class="card" <%= 'target="_blank" rel="noopener"' if link.to_s.start_with?('http') %><% if defined?(data_year) %> data-year="<%= data_year %>"<% end %><% if defined?(data_tags) && data_tags.to_s.present? %> data-tags="<%= data_tags %>"<% end %>>
  <img class="card-image"
    <% if defined?(image_attributes) %>style="<%= image_attributes %>"<% end %>
    src="<%= image.to_s.start_with?('http') ? image : image_path(image.to_s.split('/').last) %>"
    <% if defined?(image_title) %>
      alt="<%= image_title %>"
      title="<%= image_title %>"
    <% else %>
      alt="<%= title %>"
      title="<%= title %>"
    <% end %>
  />
  <div class="card-body">
    <p class="card-meta"><%= type %> <span>• <%= year %></span></p>
    <h3 class="card-title">
      <%= title %>
      <% if defined?(external_icon) && external_icon %>
        <span class="card-title-external" aria-hidden="true" title="External link">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" width="14" height="14"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/></svg>
        </span>
      <% end %>
    </h3>
    <% if defined?(description) %><p class="card-desc"><%= description %></p><% end %>
    <% if defined?(tags) && tags.is_a?(Array) && tags.any? %>
      <p class="card-tags">
        <% tags.each do |tag| %><span class="card-tag"><%= tag %></span><% end %>
      </p>
    <% end %>
  </div>
</a>
