<a href="<%= link %>" class="card w-full mx-auto bg-white dark:bg-gray-600 rounded-xl shadow-md overflow-hidden max-w-prose">
  <div class="md:flex items-stretch h-full">
    <div class="hidden md:block md:flex-shrink-0">
      <img class="h-full w-full object-cover md:w-48" src="<%= image %>" alt="<%= title %>">
    </div>
    <div class="p-8">
      <div class="flex">
        <div class="mr-2 self-center d-inline md:hidden">
          <img class="object-cover rounded-full" style="width: 48px; height: 48px;" src="<%= image %>" alt="<%= title %>">
        </div>
        <div>
          <div class="uppercase tracking-wide text-sm text-blue-700 dark:text-green-100 font-semibold"><%= type %> &bull; <span class="font-light"><%= year %></span></div>
          <span class="block mt-1 text-lg leading-tight font-medium text-gray-800 dark:text-gray-100 hover:underline"><%= title %></span>
        </div>
      </div>
      <% if defined?(description) %><p class="mt-2 text-gray-500 dark:text-gray-100"><%= description %></p><% end %>
    </div>
  </div>
</a>
