<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>
      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :url %>
  <%= f.text_field :url, class: "form-control" %>

  <%= f.label :tag_list %>
  <%= f.hidden_field :tag_list, id: "tag_list", "data-url" => "/interests/tags", class: "form-control" %>
  <div id="taggle"></div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
