<div class="posts-header clearfix">
  <div class="post-breadcrumb pull-left metadata">
    <span>
      /<%= link_to " Home ", "/" %>/

      <% if params[:tagged] %>
       <%= link_to "Interests", interests_path %> / Viewing interests tagged with <%= CGI.escape params[:tagged] %> /
      <% else %>
       Interests / 
      <% end %>
    </span>
  </div>

  <% if current_user %>
  <%= link_to "Add an Interest", new_interest_path, class: "new-post pull-right metadata" %>
  <% end %>

  <%= render "layouts/tag_cloud", tags: @tags %>
</div>

<br>

  <div id="interests" class="card-box col-md-10 col-md-offset-1 padded-vert">
    <%= render @interests %>
  </div>

  <div class="col-md-12 text-center">
    <%= will_paginate @interests, page_links: false, renderer: BootstrapPagination::Rails %>
  </div>

</div>
