<div class="page-header-breadcrumb clearfix">
  <div class="page-breadcrumb">
    <ul class="breadcrumbs list-inline pull-left">
      <li><%= link_to " Home ", "/" %></li>
      <li><%= link_to "Interests", interests_path %></li>
      <% if params[:tagged] %>
        <li>Viewing interests tagged with <%= CGI.escape params[:tagged] %></li>
      <% end %>
      <% if params[:private] %>
        <li>Private Interests</li>
      <% end %>
    </ul>

    <div class="pull-right">
      <% if current_user %><%= link_to "Add an Interest", new_interest_path, class: "metadata" %><% end %>
      <%= render "layouts/tag_cloud", tags: @tags %>
    </div>
  </div>
</div>

<div id="interests" class="card-box col-md-10 col-md-offset-1 padded-vert">
  <%= render @interests %>
</div>

<div class="col-md-12 text-center">
  <%= will_paginate @interests, page_links: false, renderer: BootstrapPagination::Rails %>
</div>
