<div class="posts-header clearfix">
  <div class="post-breadcrumb pull-left metadata">
    <span>
      /<%= link_to " Home ", "/" %>/ Interests / 

      <% if params[:tagged] %>
      Viewing interests tagged with <%= CGI.escape params[:tagged] %> /
      <% end %>
    </span>
  </div>

  <% if current_user %>
  <%= link_to "Add an Interest", new_interest_path, class: "new-post pull-right metadata" %>
  <% end %>

  <%= render "layouts/tag_cloud", tags: @tags %>
</div>

<br>

<div class="col-md-8 col-md-offset-2 clearfix">
  <div id="interests">
    <% @interests.in_groups(3, false) do |interests| %>
      <div class="col-md-4">
        <%= render interests %>
      </div>
    <% end %>
  </div>

  <div class="col-md-12 text-center">
    <%= will_paginate @interests, page_links: false, renderer: BootstrapPagination::Rails %>
  </div>

</div>
