<p id="notice"><%= notice %></p>

<p>
  <strong>Interest type:</strong>
  <%= @interest.interest_type %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @interest.treatment %>
</p>

<p>
  <strong>Embed url:</strong>
  <%= @interest.embed_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @interest.url %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @interest.provider %>
</p>

<p>
  <strong>Title:</strong>
  <%= @interest.title %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
