<%= form_for @post do |f| %>
  <div class="posts-header clearfix">
    <div class="post-breadcrumb col-md-12">
      <div class="col-sm-6 metadata">
        <span>
          /<%= link_to " Home ", "/" %>/ Random Thoughts / <%= @post.new_record? ? "New" : "Editing" %> Page
        </span>
      </div>
      <div class="text-right">
        <%= f.submit "Save", class: "btn btn-link" %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :image_ids, value: params[:post].present? ? params[:post][:image_ids] : "", id: "image-ids" %>

  <div class="form">

    <%= render "layouts/forms/errors", object: @post %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :tags %><br>
      <%= f.text_field :tag_list, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :published_date %><br>
      <%= f.text_field :published_date, class: "form-control datetimepicker" %>
    </div>

    <div class="field">
      <%= f.label :header_image %>
      <%= f.file_field :header_image %>
    </div>

    <% if @post.header_image_stored? %>
      <div class="field">
        <%= f.label :remove_header_image %>
        <%= f.check_box :remove_header_image %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.markdown_input :body, { preview: true } %>
    </div>
  </div>
<% end %>

<%= render "image_form" %>
