<%= form_for @post do |f| %>
  <div class="posts-header clearfix">
    <div class="post-breadcrumb col-md-12">
      <div class="col-sm-6 metadata">
        <span>
          /<%= link_to " Home ", "/" %>/ Random Thoughts / <%= @post.new_record? ? "New" : "Editing" %> Page
        </span>
      </div>
      <div class="text-right">
        <%= f.submit "Save", class: "btn btn-link" %>
      </div>
    </div>
  </div>

  <div class="form">

    <%= render "layouts/forms/errors", object: @post %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :tags %><br>
      <%= f.hidden_field :tag_list, id: "tag_list", "data-url" => "/posts/tags", class: "form-control" %>
      <div id="taggle"></div>
    </div>

    <div class="field">
      <%= f.label :published_date %><br>
      <%= f.text_field :published_date, class: "form-control datetimepicker" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <% if @post.header_image_url.present? %>
      <div class="field">
        <%= label_tag "remove_image" %>
        <%= check_box_tag "remove_image" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.markdown_input :body, { preview: true } %>
    </div>
  </div>
<% end %>

<%= render "image_form" %>
<%= render "gallery_form" %>
