<%= form_for @post do |f| %>
  <%= render "layouts/forms/errors", object: @post %>

  <div class="page-header post-header">
    <h1>
      <%= @post.new_record? ? "New" : "Editing" %> Page
      <%= f.submit "Save", class: "btn btn-primary" %>
    </h1>
  </div>

  <div class="form">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :tags %><br>
      <%= f.text_field :tag_list, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :published_date %><br>
      <%= f.date_field :published_date, class: "form-control datetimepicker" %>
    </div>

    <div class="field">
      <%= f.label :body %><br>
      <%= f.markdown_input :body, { preview: true } %>
    </div>
  </div>
<% end %>
