<div class="modal fade" id="galleryModal">
  <div class="modal-dialog formWrapper">

    <%= form_tag create_gallery_path, method: :post, authenticity_token: true, remote: true do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Image Upload</h4>
          <p>Inserts at the current cursor position</p>
        </div>

        <div class="modal-body">
          <%= text_field_tag :file, nil, placeholder: "File Path", class: "form-control" %>
          <div class="image-div">
            <%= text_field_tag "images[:image_1][title]", nil, placeholder: "Image Title", class: "form-control" %>
            <%= file_field_tag "images[:image_1][image]" %>
          </div>
        </div>

        <div class="modal-footer">
          <button id="add-image" class="btn btn-default pull-left">Add Image</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Upload Gallery", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
