<div class="page-header post-header">
  <h1>
    Random Thoughts
    <% if params[:tagged] %><small>/ Viewing posts tagged with <%= params[:tagged] %></small><% end %>
  </h1>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="col-md-12 post">
      <h2><%= post.title %></h2>
      <%= render "metadata", post: post %>
      <hr>
      <div class="post-body">
        <%= post.trancated_body %>
        <h4><%= link_to "Read More", post %></h4>
      </div>
    </div>
  <% end %>
</div>
