<% content_for :title do %>
  Random Thoughts
<% end %>

<div class="posts-header">
  <h1>
    Random Thoughts
    
    <%= link_to posts_path({ format: :rss }), title: "RSS Feed" do %>
      <small><i class="fa fa-rss"></i></small>
    <% end %>

     <% if params[:tagged] %><small>Viewing posts tagged with <%= params[:tagged] %></small><% end %>
  </h1>

  <% if current_user %><%= link_to "New Post", new_post_path, class: "btn btn-default" %><% end %>

  <%= render "tag_cloud", tags: @tags %>
</div>

<%= render @posts.first, first: true %>

<div id="posts" class="col-md-10 col-md-offset-1 padded-vert">
  <hr>
  <%= render @posts.drop(1), first: false %>
</div>

<div class="col-md-12 text-center">
  <%= will_paginate @posts, page_links: false, renderer: BootstrapPagination::Rails %>
</div>
