<div class="col-xs-12">

  <% @posts.each do |post| %>
    <div class="post">
      <h1><%= post.title %>
      <% if session["user"] %><small><a href="/posts/<%= post.handle %>/edit">Edit Post</a></small><% end %>
      </h1>
      <p><%= post.body %></p>
      <hr>
      <small>
        <% if post.tags %>Tagged <%= post.tags %> | <% end %>Posted on <%= post.updated_at.to_formatted_s(:long) %>
      </small>
      <hr>
    </div>
  <% end %>

</div>
