<% content_for :title do %>
  Blog
<% end %>

<div class="page-header-breadcrumb clearfix">
  <div class="page-breadcrumb">
    <ul class="breadcrumbs list-inline pull-left">
      <li><%= link_to " Home ", "/" %></li>
      <li>
        <% if params[:category].present? || params[:tagged].present? %>
          <%= link_to "Blog", posts_path %>
        <% else %>
          Blog
        <% end %>
      </li>
      <% if params[:category] %>
        <li>Category: <%= params[:category] %></li>
      <% end %>
      <% if params[:tagged] %>
        <li>Tagged: <%= params[:tagged] %></li>
      <% end %>
      <li>
        <%= link_to posts_path({ format: :rss }), title: "RSS Feed" do %>
          <small><i class="fa fa-rss"></i></small>
        <% end %>
      </li>
    </ul>

    <% if current_user %>
      <div class="pull-right">
        <%= link_to "New Post", new_post_path, class: "new-post metadata" %>
      </div>
    <% end %>
  </div>
</div>

<div class="visible-sm visible-xs col-xs-12 mobile-sidebar-container">
  <a class="btn btn-default  btn-block" role="button" data-toggle="collapse" href="#mobile-sidebar" aria-expanded="false" aria-controls="collapseExample">
    Categories and Tags
  </a>
  <div class="collapse" id="mobile-sidebar">
    <%= render 'sidebar_content', tags: @tags, post_categories: @post_categories %>
  </div>
</div>

<div id="posts" class="card-box col-md-7 col-md-offset-1 col-xs-12 padded-vert">
  <%= render @posts %>
  <% if @posts.empty? %>
    <h2>Don't seem to have any posts here. Maybe you can try another category or tag?</h2>
  <% end %>
</div>

<div class="col-md-3 hidden-sm hidden-xs">
  <%= render 'sidebar_content', tags: @tags, post_categories: @post_categories %>
</div>

<div class="col-md-12 text-center">
  <%= will_paginate @posts, page_links: false, renderer: BootstrapPagination::Rails %>
</div>
