<% content_for :title do %>
  Blog
<% end %>

<div class="page-header-breadcrumb clearfix">
  <div class="page-breadcrumb">
    <ul class="breadcrumbs list-inline pull-left">
      <li><%= link_to " Home ", "/" %></li>
      <li>Blog</li>
      <% if params[:tagged] %>
        <li>Viewing posts tagged with <%= params[:tagged] %></li>
      <% end %>
      <li>
        <%= link_to posts_path({ format: :rss }), title: "RSS Feed" do %>
          <small><i class="fa fa-rss"></i></small>
        <% end %>
      </li>
    </ul>

    <div class="pull-right">
      <% if current_user %><%= link_to "New Post", new_post_path, class: "new-post metadata" %><% end %>
      <%= render "layouts/tag_cloud", tags: @tags %>
    </div>
  </div>
</div>

<div id="posts" class="card-box col-md-10 col-md-offset-1 padded-vert">
  <%= render @posts %>
</div>

<div class="col-md-12 text-center">
  <%= will_paginate @posts, page_links: false, renderer: BootstrapPagination::Rails %>
</div>
