<% content_for :title do %>
  Random Thoughts
<% end %>

<div class="posts-header clearfix">
  <div class="post-breadcrumb metadata pull-left">
    <span>
      /<%= link_to " Home ", "/" %>/ Random Thoughts / 

      <% if params[:tagged] %>
      Viewing posts tagged with <%= params[:tagged] %> /
      <% end %>

      <%= link_to posts_path({ format: :rss }), title: "RSS Feed" do %>
        <small><i class="fa fa-rss"></i></small>
      <% end %> 
    </span>
  </div>

  <% if current_user %>
    <%= link_to "New Post", new_post_path, class: "new-post metadata pull-right" %>
  <% end %>

  <%= render "layouts/tag_cloud", tags: @tags %>
</div>

<%= render @posts.first, first: true %>

<div id="posts" class="col-md-10 col-md-offset-1 padded-vert">
  <hr>
  <%= render @posts.drop(1), first: false %>
</div>

<div class="col-md-12 text-center">
  <%= will_paginate @posts, page_links: false, renderer: BootstrapPagination::Rails %>
</div>
