
<div class="col-xs-12">

  <% @posts.each do |post| %>
    <div class="post">
      <h1><%= post.title %>
      <% if session["access_token"] %><small><a href="/posts/<%= post.handle %>/edit">Edit Post</a></small><% end %>
      <small><a href="/posts/<%= post.handle %>">Read More</a></small></h1>
      <p><%= post.body.truncate(1000) %></p>
      <hr>
      <small>
        <% if post.tags %>Tagged <%= post.tags %> | <% end %>Posted on <%= post.updated_at.to_formatted_s(:long) %> | <a href="http://jnadeau.ca/posts/<%=post.handle%>#disqus_thread">Link</a>
      </small>
      <hr>
    </div>
  <% end %>

</div>
