<% content_for :title do %>
  <%= @post.title %>
<% end %>

<% content_for :head_meta do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:url" content="<%= post_url(@post, protocol: 'https') %>" />
  <% if @post.header_image_url.present? %>
    <meta property="og:image" content="<%= @post.header_image_url %>" />
  <% end %>

  <meta property="og:type" content="article" />
  <meta property="og:article:published_time" content="<%= @post.est_created_at.to_formatted_s(:long) %>" />
  <meta property="og:article:section" content="<%= @post_category.title %>" />
  <meta property="og:article:tag" content="<%= @post.tag_list %>" />
<% end %>

<div class="page-header-breadcrumb clearfix">
  <div class="page-breadcrumb">
    <ul class="breadcrumbs list-inline">
      <li><%= link_to " Home ", "/" %></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li><%= link_to @post_category.title, posts_path(category: @post_category.title) %></li>
      <li class="hidden-xs"><%= @post.title.truncate(50) %></li> 
    </ul>

    <ul class="breadcrumb-metadata list-inline hidden-xs">
      <% if current_user %> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
            <% if !@post.published? %>
              <li><%= link_to "Unpublished Post Path", post_path(@post, published_key: @post.published_key) %></li>
              <li><%= link_to "Regenerate Post Key", regenerate_published_key_post_path(@post), method: :post %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li><%= render "metadata", post: @post %></li>
    </ul>
  </div>
</div>

<div class="col-md-8 col-md-offset-2" id="post-header">
  <h1><%= @post.title %></h1>
  <div class="visible-xs header-metadata">
    <%= render "metadata", post: @post %>
  </div>

  <% if @post.header_image_url.present? %>
    <div class="header-image" style="background: url(<%= @post.header_image_url %>);">
      &nbsp;
    </div>
  <% end %>
</div>

<div class="col-md-8 col-md-offset-2" id="post-body">
  <%= @post.html_body %>
  <script>
    if( $('.galleria').length ) {
      Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
      Galleria.run('.galleria', {
          theme: 'classic',
          thumbCrop: false
      });
    }
  </script>
</div>

<div class="col-md-8 col-md-offset-2">
  <%= render "disqus" %>
</div>
