<% content_for :title do %>
  <%= @post.title %>
<% end %>

<div class="posts-header clearfix">
  <div class="post-breadcrumb col-md-12">
    <div class="col-sm-6 metadata">
      <span>/<%= link_to " Home ", "/" %>/ <%= link_to "Blog", posts_path %> / <%= @post.title %></span> <% if current_user %> 
          (<%= link_to "Edit Post", edit_post_path(@post)%>
          <% if !@post.published? %>
            , 
            <%= link_to "Unpublished Post Path", post_path(@post, published_key: @post.published_key) %>, 
            <%= link_to "Regenerate Post Key", regenerate_published_key_post_path(@post), method: :post %>
          <% end %>)
        <% end %>
    </div>
    <div class="text-right">
      <%= render "metadata", post: @post %>
    </div>
  </div>
</div>

<%= render layout: "post_header" do %>
  <h1><%= @post.title %></h1>
<% end %>

<div class="col-md-8 col-md-offset-2" id="post-body">
  <%= @post.html_body %>
  <script>
    if( $('.galleria').length ) {
      Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
      Galleria.run('.galleria', {
          theme: 'classic',
          thumbCrop: false
      });
    }
  </script>
</div>

<div class="col-md-8 col-md-offset-2">
  <%= render "disqus" %>
</div>
