<% content_for :title do %>
  <%= @post.title %>
<% end %>

<%= render layout: "post_header" do %>
  <h1><%= @post.title %></h1>
<% end %>

<a href="/posts" title="Go Back" class="back-button">&nbsp;</a>

<%= render "tag_cloud", tags: @tags %>

<div class="col-md-8 col-md-offset-2" id="post-body">
  <%= render "metadata", post: @post %>
  <%= @post.html_body %>
</div>

<div class="col-md-8 col-md-offset-2">
  <%= render "disqus" %>
</div>
