<h1 class="blog-title"><%= @post.title %></h1>

<p><small>
  <%= @post.list_tags %>
  Posted on <%= @post.est_created_at.to_formatted_s(:long) %> /
  Last Edited <%= @post.est_updated_at.to_formatted_s(:long) %>
</small></p>

<div class="post-body"><%= @post.body %></div>

<%= erb(:"posts/disqus", :layout => false) %>
