<% content_for :title do %>
  <%= @post.title %>
<% end %>

<div class="page-header post-header <% if @post.header_image_stored? %>background-image" style="background: url(<%=@post.header_image.url %>);<% end %>">
  <div class="data">
    <h1><%= @post.title %></h1>
    <%= render "metadata", post: @post %>
  </div>
  <div class="clear"></div>
</div>

<div id="post-body"><%= @post.html_body %></div>

<%= render "disqus" %>
