<%= form_for(@front_page_widget) do |f| %>
  <div class="posts-header clearfix">
    <div class="post-breadcrumb col-md-12">
      <div class="col-sm-6 metadata">
        <span>
          /<%= link_to " Home ", "/" %>/ <%= @front_page_widget.new_record? ? "New" : "Editing" %> Widget
        </span>
      </div>
      <div class="text-right">
        <%= f.submit "Save", class: "btn btn-link metadata" %>
      </div>
    </div>
  </div>

  <div class="form">

    <%= render "layouts/forms/errors", object: @front_page_widget %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :subtext %><br>
      <%= f.text_field :subtext, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <br>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
