<div class="col-md-8 col-md-offset-2 front-page-header">
  <h1>Julian Nadeau</h1>
  <div class="pull-left">
    <a href="https://github.com/jules2689"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://twitter.com/jules2689"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="http://www.linkedin.com/pub/julian-nadeau/49/1b0/721"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="mailto:julian@jnadeau.ca"><i class="fa fa-envelope-square fa-2x"></i></a>
  </div>

  <% if current_user %>
    <div class="pull-right">
      <%= link_to "New Widget", new_front_page_widget_path, class: "btn btn-default" %>
      <%= link_to "Reposition Widgets", save_positions_front_page_widgets_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<div class="col-md-8 col-md-offset-2 front-page-content">
  <p>I am a software developer at <a href="http://shopify.com">Shopify.</a> I work on the iOS and Ruby on Rails frameworks.</a></p>
</div>

<div class="card-container col-md-8 col-md-offset-2">

<% @front_page_widgets.each do |widget| %>
  <div class="card">
    <a href="<%= widget.url %>">
      <img src="<%= widget.image.url %>" alt="<%= widget.title %>" />
      <h2><%= widget.title %> <% if widget.subtext %><small><%= widget.subtext%></small><% end %></h2>
    </a>
    <% if current_user %>
      <div class="widget-button-container">
        <%= link_to "Edit Widget", edit_front_page_widget_path(widget), class: "btn btn-default" %>
        <%= link_to "Delete Widget", widget, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
<% end %>

</div>
