<div class="posts-header clearfix">
  <div class="post-breadcrumb col-md-12">
    <div class="metadata pull-left">
      / <%= link_to "Home", "/" %> / Repositioning Widgets /
    </div>
    <div class="pull-right">
      <span id="status"></span>
      <%= button_tag "Save Positions", class: "btn btn-link metadata", id: "save-positions" %>
    </div>
  </div>
</div>

<ul id="sortable">
  <% @front_page_widgets.each_with_index do |widget, index| %>
    <li class="card" position="<%= index %>" id="<%= widget.id %>">
      <a href="#">
        <img src="<%= widget.image_url %>" alt="<%= widget.title %>" />
        <h2><%= widget.title %> <% if widget.subtext %><small><%= widget.subtext%></small><% end %></h2>
      </a>
    </li>
  <% end %>
</ul>
