
<div class="card-container">

  <div class="card">
    <a href="http://shopify.ca">
      <%= image_tag "shopify-bag.png" %>
      <h2>Developer @ Shopify</h2>
    </a>
  </div>

  <div class="card">
    <a href="/posts">
      <%= image_tag "blog.png" %>
      <h2>My random thoughts</h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/jules2689/website">
      <%= image_tag "website.png" %>
      <h2>This Website <small>The Code Behind This Rails Site</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/CodeForKids/scrapers">
      <%= image_tag "scrapers.png" %>
      <h2>Scrapers <small>A Set Of Scrapers that pull data from Site About Kids And Technology</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/jules2689/thisIsWhatIOwn">
      <%= image_tag "thisiswhatiown.png" %>
      <h2>This is What I Own <small>A Small Rails App That Consumes Barcodes to List Your Owned Media</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="http://codeforkids.ca">
      <%= image_tag "cfk.png" %>
      <h2>Director @ Code For Kids</h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/CodeForKids/cfktracker">
      <%= image_tag "time.png" %>
      <h2>CFK Time Tracker<br><small>Track our Time</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/jules2689/bootstrap_widgets">
      <%= image_tag "bootstrapwidgets.png" %>
      <h2>Bootstrap Widgets <br><small>A Rails Gem For Easy Dashboards</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/CodeForKids/codeforkidswiki">
       <%= image_tag "wiki.png" %>
      <h2>CFK Wiki<br><small>Communicate with our community</small></h2>
    </a>
  </div>

  <div class="card">
    <a href="https://github.com/CodeForKids/quizzer">
       <%= image_tag "quizzer.png" %>
      <h2>CFK Quizzer<br><small>Manages Online Quizzes for Students</small></h2>
    </a>
  </div>

</div>
