<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Julian Nadeau</title>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <%= css :app %>

      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <%= js :app %>

      <meta name="description" content="Developer,Educator,Hacker">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="thKevbVWFUwiJbi_nQJRaQc4-ZUN_Mr6YJlFt8Nv_-I" />
  </head>
  <body>
    <div class="sidebar col-md-3 col-xs-12">
      <div class="col-md-12" id="container">
        <div class="col-md-6 col-md-offset-3" id="content">
          <div class="col-md-12 col-sm-3 text-center image">
            <a href="/"><img class="profile" src="http://www.gravatar.com/avatar/6e01dd682c021a600a943b0a539ed6a2?s=200&amp;d=mm&amp;r=g" width="200" alt="Julian Nadeau"></a>
          </div>
          <div class="col-md-12 col-sm-9 col-xs-12 text-center">
            <h1 id="name">Julian Nadeau</h1>
            <h3 id="iam">I'm a <a href="https://github.com/jules2689"><blue>developer</blue></a> &amp; <a href="http://codeforkids.ca"><blue>educator</blue></a>.</h3>
            <h5>Catch me on Social Media</h5>
            <a href="https://github.com/jules2689"><i class="fa fa-github-square fa-4x"></i></a>
            <a href="https://twitter.com/jules2689"><i class="fa fa-twitter-square fa-4x"></i></a>
            <a href="http://www.linkedin.com/pub/julian-nadeau/49/1b0/721"><i class="fa fa-linkedin-square fa-4x"></i></a>
            <a href="mailto:julian@jnadeau.ca"><i class="fa fa-envelope-square fa-4x"></i></a>
            <h5><a href="/posts">Check out my thoughts</a></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="content col-md-9 col-md-offset-3 col-xs-12">
      <% if session["access_token"] %>
        <ul class="admin">
          <li><a href="/posts/new">New Post</a></li>
          <% if @post && !@post.new_record? %>
            <li><a href="/posts/<%= @post.handle %>/edit">Edit Post</a></li>
            <li>
              <form action="/posts/<%= @post.id %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete Post" />
              </form>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= yield %>
    </div>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jnadeau'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>
</html>
