<div id="sidebar-wrapper">

  <div class="text-center profile">
    <a href="/">
      <img class="avatar" src="https://secure.gravatar.com/avatar/bccdd41945f78d7cb7c2f64275efa100.png?r=PG&s=100" width="100" alt="Julian Nadeau">
    </a>
    <h1>Julian Nadeau</h1>
    <a href="https://github.com/jules2689"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://twitter.com/jules2689"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="http://www.linkedin.com/pub/julian-nadeau/49/1b0/721"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="mailto:julian@jnadeau.ca"><i class="fa fa-envelope-square fa-2x"></i></a>
  </div>

  <br>

  <ul class="sidebar-nav sidebar-content text-center">
    <li><%= link_to "Projects", root_url %></li>
    <li><%= link_to "Blog", posts_url %></li>
    <li><%= link_to "Who am I?", me_path %></li>
    <% if current_user %>
      <li><h3>Admin Actions</h3></li>
      <li><%= link_to "All Posts", all_posts_posts_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>

  <% if current_user %>
    <span class="login label label-info">
      Logged in as <%= current_user.email %>
    </span>
  <% end %>
</div>
